.body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100px;
	background-color:pink;
	
}
.form{
    width:1200px;
    margin:auto;
}
h1{
    background-color: rosybrown;
    margin-left: 60px;
    font-size: 50px;
}
input[type=text],input[type=password],input[type=email]{
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}